{% load static %}
<!DOCTYPE html>
<html>

<head>
    <title> SyVC </title>

    <script src="https://static.opentok.com/v2/js/opentok.min.js"></script>

    <link href="{% static 'css/app.css' %}" rel="stylesheet">
</head>

<body>

    <div id="videos">
        <div id="subscriber"></div>
        <div id="publisher"></div>
    </div>

    <div id="textchat">
         <p id="history"></p>
         <form>
              <input type="text" placeholder="Input your text here" id="msgTxt"></input>
         </form>
    </div>

    <script type="text/javascript" src="{% static 'js/config.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/app.js' %}"></script>
</body>

</html>
